bin/Debug/netcoreapp2.0/HelloAspNetCore.pdb
MvcMovie.db
bin/Debug/netcoreapp2.0/HelloAspNetCore.dll
bin/Debug/netcoreapp2.0/HelloAspNetCore.runtimeconfig.dev.json
bin/Debug/netcoreapp2.0/HelloAspNetCore.deps.json
bin/Debug/netcoreapp2.0/HelloAspNetCore.runtimeconfig.json
Migrations/20171129140431_InitialCreate.Designer.cs
Migrations/20171129140431_InitialCreate.cs
Migrations/MovieContextModelSnapshot.cs
obj/HelloAspNetCore.csproj.EntityFrameworkCore.targets
obj/HelloAspNetCore.csproj.nuget.g.targets
obj/HelloAspNetCore.csproj.nuget.cache
obj/HelloAspNetCore.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.0/HelloAspNetCore.pdb
obj/Debug/netcoreapp2.0/CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/HelloAspNetCore.dll
obj/Debug/netcoreapp2.0/HelloAspNetCore.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/HelloAspNetCore.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/HelloAspNetCore.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/HelloAspNetCore.csproj.FileListAbsolute.txt
/HelloAspNetCore.sln
/.vs
