@page
@model HelloAspNetCore.Pages.Blogs.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
          
            <div class="form-group">
                <label asp-for="Blog.ID" class="control-label"></label>
                <input asp-for="Blog.ID" class="form-control" value="@Model.Blog.ID" readonly="readonly" />
            </div>

           Status: @Model.Blog.Status;

            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
                <input asp-for="Blog.Title" class="form-control" />               
            </div>
            <div class="form-group">
                <label asp-for="Blog.Content" class="control-label"></label>
                <span asp-validation-for="Blog.Content" class="text-danger"></span>
                <textarea asp-for="Blog.Content" class="form-control" cols="30" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">Attachments:</label>
                <input type="file" asp-for="Blog.Attachment" class="form-control" style="height:auto" />
                <span asp-validation-for="Blog.Attachment" class="text-danger"></span>
                <input type="submit" asp-action="Upload" value="Upload" class="btn btn-default" />

                <!--attachment list-->
                    @foreach (var item in Model.Blog.UploadedFiles)
                    { 
                        <li>@item.FileName</li>
                    }
            </div>
            

           
            <div class="form-group">
                <input type="submit" value="Save" asp-action="Save" class="btn btn-default" />
                <input type="submit" value="Submit" asp-action="Submit" class="btn btn-info" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<!--no validagtion at client side--->
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
